<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.mapper.UserMapper">
    <!--    <select id="findPage" parameterMap=""-->
    <resultMap type="SysUser" id="SysUserResult">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="nickname" column="nickname"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="phone" column="phone"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <!--        <result property="STATUS"    column="STATUS"    />-->
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="selectSysUserVo">
        select id,
               username,
               password,
               salt,
               nickname,
               headImgUrl,
               phone,
               telephone,
               email,
               birthday,
               sex,
               createTime,
               updateTime
        from sys_user
    </sql>

    <select id="selectSysUserList" parameterType="SysUser" resultMap="SysUserResult">
        <include refid="selectSysUserVo"/>
        <where>
            STATUS = 1
            <if test="username != null  and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
            <if test="salt != null  and salt != ''">and salt = #{salt}</if>
            <if test="nickname != null  and nickname != ''">and nickname like concat('%', #{nickname}, '%')</if>
            <if test="headImgUrl != null  and headImgUrl != ''">and headImgUrl = #{headImgUrl}</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="telephone != null  and telephone != ''">and telephone = #{telephone}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="birthday != null ">and birthday = #{birthday}</if>
            <if test="sex != null ">and sex = #{sex}</if>
            <if test="createTime != null ">and createTime = #{createTime}</if>
            <if test="updateTime != null ">and updateTime = #{updateTime}</if>
        </where>
    </select>
    <select id="selectSysUserAll" parameterType="SysUser" resultMap="SysUserResult">
        <include refid="selectSysUserVo"/>
        where STATUS = 1
    </select>
    <select id="selectSysUserById" parameterType="Long" resultMap="SysUserResult">
        <include refid="selectSysUserVo"/>
        where id = #{id} and STATUS = 1
    </select>

    <insert id="insertSysUser" parameterType="SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="salt != null and salt != ''">salt,</if>
            <if test="nickname != null">nickname,</if>
            <if test="headImgUrl != null">headImgUrl,</if>
            <if test="phone != null">phone,</if>
            <if test="telephone != null">telephone,</if>
            <if test="email != null">email,</if>
            <if test="birthday != null">birthday,</if>
            <if test="sex != null">sex,</if>
            <!--             <if test="STATUS != null">STATUS,</if>-->
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="salt != null and salt != ''">#{salt},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="headImgUrl != null">#{headImgUrl},</if>
            <if test="phone != null">#{phone},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="email != null">#{email},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="sex != null">#{sex},</if>
            <!--<if test="STATUS != null">#{STATUS},</if>-->
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysUser" parameterType="SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="salt != null and salt != ''">salt = #{salt},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="headImgUrl != null">headImgUrl = #{headImgUrl},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="sex != null">sex = #{sex},</if>
            <!--             <if test="STATUS != null">STATUS = #{STATUS},</if>-->
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUserById" parameterType="Long">
        update sys_user
        set STATUS     = 0,
            updateTime = now()
        where id = #{id}
    </delete>

    <delete id="deleteSysUserByIds" parameterType="String">
        update sys_user set STATUS = 0 , updateTime = now() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
