<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
</head>
<body>
<div id="aap">
    <button v-on:click="show=!show">嘀嘀嘀</button>
    <h1 v-if="show">v-if</h1>
    <h1 v-show="show">v-show</h1>
    <h2 v-if="show">看到我啦？！</h2>
    <h3 v-show="show">看到我啦？！show</h3>

    <hr>
    random = {{aaa}}
    <h1 v-if="aaa > 0.5">
        看到我啦？！if
    </h1>
    <h1 v-else>
        看到我啦？！else
    </h1>
</div>

<script src="node_modules/vue/dist/vue.js"></script>

<script>
    var vue = new Vue({
        el : '#aap',
        data : {
            show:true,
            aaa:Math.random()
        }
    })
</script>
</body>
</html>